* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: Montserrat Medium;
    src: url(font/FontsFree-Net-Montserrat-Medium.ttf)
}

@font-face {
    font-family: Montserrat Regular;
    src: url(font/Montserrat-Regular.ttf)
}

@font-face {
    font-family: NunoSans;
    src: url(font/nunito-sans.regular.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(font/work-sans.regular.ttf);
}

header {
    height: 10%;
    background-color: white;
    display: flex;
    padding: 0 7%;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 25%;
}

header ul li {
    display: inline;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat Medium', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

header ul li a:hover {
    color: aqua
}
header ul li:first-child, header ul li:nth-child(2) {
    margin-right: 1.4em;
}

.home-text {
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f6f6f6;
}

.home-text .home-text-content {
    width: 25%;
}
.home-text .home-text-content div {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 3em;
    margin-bottom: 1em;
}

.home-text .home-text-content p {
    color: #8d8b8b;
    font-size: 1.42em;
    font-family: 'NunoSans';
}

.home-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

.home-wrapper img{
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    height: 40%;
    color: white;
    background-color: black;
}

.footer .address {
    width: 25%;
}
.footer .address .address1 div {
    font-family: 'Montserrat Medium';
    margin-bottom: 7%;
    font-size: 2em;
}

.footer .address .address1 p {
    font-family: 'NunoSans';
    color: rgb(197, 193, 193);
    font-size: 1.7em;
}

.footer .contact .contact1 p {
    font-family: 'WorkSans';
    color: rgb(197, 193, 193);
    font-size: 1.7em;
}

.footer .link {
    width: 35%;
    height: 30%;
}

.footer .link ul {
    list-style-type: none;
}

.footer .link ul li a {
    color: rgb(197, 193, 193);
    text-decoration: none;
    font-family: 'NunoSans';
    line-height:2em;
    font-size: 1.5em;
}

.footer .link ul:first-child, .footer .link ul:nth-child(2) {
    float: left;
}

.footer .link ul li a:hover {
    color: aqua;
}

.footer .link ul:nth-child(2) {
    margin-left: 15%;
}
.footer .link ul:last-child {
    float: right;
}

.about-banner {
    height: 50%;
    color: white;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("https://siva5654.github.io/DCKAP/images/banner.png");
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-banner .about-banner-text {
    width: 35%;
}
.about-banner div {
    font-family: 'Montserrat Medium';
    font-size: 1.7em;
    margin-bottom: 1em;
}

.about-banner p {
    font-size: 1em;
    color: #b6b3b3;
}

.about-numbers {
    height: 20%;
    background-color: #10c9c3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-numbers .about-midline {
    display: flex;
    justify-content: space-between;
    width: 84%;
}

.about-numbers .about-midline .projects {
    display: flex;
}

.about-numbers .about-midline .projects i {
    font-size: 3em;
    margin-right: 0.5em;
}

.about-numbers .about-midline .projects p {
    font-size: 1em;
    font-family: 'Montserrat Medium';
    text-transform: uppercase;
}

.about-numbers .about-midline .projects p:first-child {
    margin-bottom: 0.7em;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
}

.about-me .about-me-container img {
    width: 100%;
}


.about-me .about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15% 0 18%;
}

.about-me-text h1 {
    font-family: 'Montserrat Medium';
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.about-me-text p {
    color: #808080;
    font-size: 1.7em;
    font-family: 'NunoSans';
    margin-bottom: 1.5em;
}

.about-me-text img {
    width: 45%;
}

.about-need {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-need-container  {
    width: 36%;
}
.about-need-container div {
    font-family: 'Montserrat Medium';
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
}

.about-need-container p{
    color: #808080;
    font-size: 1.7em;
    font-family: 'NunoSans';
    margin-bottom: 1.5em;
}

.about-need-container button {
    width: 29%;
    height: 4em;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 1.1em;
    background: #10c9c3;
    color: white;
    transition: 300ms;
}

.about-need-container button:hover {
    background-color: #1f1a1a;
}

.single-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f6f6f6;
}

.single-main img {
    width: 100%;
    height: 100%;
}

.single-main .single-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14%;
}

.single-info1 div {
    font-family: 'Montserrat Medium';
    font-weight: bold;
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-bottom: 1em;
}

.single-info1 p {
    width: 90%;
    font-family: 'NunoSans';
    color: #777777;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.single-info1 p:last-child {
    margin-bottom: 2em;
}

.single-info .single-details p{
    font-family: 'NunoSans';
    color: #777777;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.single-info .single-details strong {
    color: black;
    font-size: 1em;
    margin-right: 0.6em;
}

.wrapper {
    height: 15%;
    padding:0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper .middle a img{
    width: 2em;
    margin-left: -2em;
}

.nav-wrapper .back a, .nav-wrapper .next a {
    font-weight: bolder;
    font-family: 'Montserrat Medium';
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1d1d;
    transition: 300ms;
    transition: transform 250ms;
}
.nav-wrapper .back a i {
    margin-right: 0.5em;
    color: #1d1d1d;
    font-size: 1em;
}

.nav-wrapper .next a i {
    margin-left: 0.5em;
    color: #1d1d1d;
    font-size: 1em;
}

.nav-wrapper .back a:hover, .nav-wrapper .next a:hover
,.nav-wrapper .next a i:hover, .nav-wrapper .back a i:hover {
    color: green;
}

.contact-main {
    padding: 0 7%;
}

.contact-info {
    display: grid;
    grid-template-columns: 4fr 6fr;
}